<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155227403448-e0hb453ehfsqbk74priqrgeg9m4lo7ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155227403448-e0hb453ehfsqbk74priqrgeg9m4lo7ju</string>
	<key>API_KEY</key>
	<string>AIzaSyBOMIucnaTmDSQnlkINqMdxl_nADE_IhFk</string>
	<key>GCM_SENDER_ID</key>
	<string>155227403448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expanseTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>artha-b88ab</string>
	<key>STORAGE_BUCKET</key>
	<string>artha-b88ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155227403448:ios:3389d7cbd3b6292e8ef04d</string>
</dict>
</plist>